<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') -%>
    <title>Index</title>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='card'>
          <div class='card-body'>
            <p>Text </p>
          </div>
        </div>
      </div>
    </div>
  
  </body>
</html>
